body {
  text-align: center;
  background-color: black;
  font-size: 30px;
  background-size: 100%;
  color: red;
  font-weight: bolder;
  border: 2px solid red;
}

.jumbotron {
  text-align: center;
  font-family: fantasy;
}

#result {
  font-weight: bolder;
  font-size: 25px;
  display: none;
}
